.aboutSection {
  background: white;
  color: #212529;
  padding: 70px;
}

.aboutSectionTitle {
  font-size: 35px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutDetails {
  font-size: 19px;
  max-width: 730px;
  margin: auto;
  line-height: 34px;
}

#about-section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#about-section.active {
  opacity: 1;
}