.root {
  padding: 50px 50px;
  margin-top: 56px;
  /*navbar height */
  background-color: #F9F9F9;
  min-height: 100vh;
}

.paper {
  text-align: left;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.author-line {
  height: 12px;
  width: 1px;
  background-color: #8c979e;
  margin: 0 8px;
}